.container1{
    display: flex;
    justify-content: space-evenly;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    margin: 250px;
}
.container3{
    display: flex;
    justify-content: space-evenly;
}
.header{
    display:flex;
    justify-content: center;
    margin: 150px;
}
.container4{
    display: flex;
    justify-content: center;
    margin: 250px;
}
.container5{
    display: flex;
    justify-content: flex-end;
    padding-right: 450px;
}
.container6 {
    display: flex;
    justify-content: center;
    margin: 200px
}
.copyright {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}